<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tig.wdc.teacher.model.dao.TeacherInfoMapper">

    <resultMap type="TeacherInfoDTO" id="teacherInfoResult">
        <id column="TE_NO" property="teacherNo"/>
        <result column="TE_ID" property="teacherId"/>
        <result column="TE_PWD" property="teacherPwd"/>
        <result column="TE_TYPE" property="teacherType"/>
        <result column="TE_ID_NO" property="teacherIdNo"/>
        <result column="TE_NAME" property="teacherName"/>
        <result column="TE_PHONE" property="teacherPhone"/>
        <result column="TE_ACNT_NO" property="teacherAccountNo"/>
        <result column="TE_ACNT_HOLDER" property="teacherAccountName"/>
        <result column="BANK" property="teacherAccountBANK"/>
        <result column="TE_INTRO" property="teacherIntro"/>
        <result column="TE_QUIT_YN" property="teacherQuitStatus"/>
        <result column="BLOCK_YN" property="teacherBlockStatus"/>
        <result column="TE_PIC" property="teacherPicture"/>
    </resultMap>

	<select id="findTeacherInfo" parameterType="TeacherInfoDTO" resultMap="teacherInfoResult">
		SELECT
	           A.TE_NO
		     , A.TE_ID
		     , A.TE_PWD
		     , A.TE_QUIT_YN
		     , A.BLOCK_YN
		  FROM TEACHER_INFO A
		 WHERE A.TE_ID = #{teacherId}
	</select>
	<select id="selectRegisteredClassCount" resultType="_int">
		SELECT 
		       COUNT(A.TE_NO) 
		  FROM CLASS A
		 WHERE A.TE_NO = #{teacherNo}
		   AND A.CLS_DICSION_STATUS = 'S'
	</select>
	<select id="selectSumClassCalculate" resultType="string">
	    SELECT 
	           SUM(A.CALC_AMOUNT) 
	      FROM CALCULATE A
	     WHERE TE_NO = #{teacherNo}
	</select>
	<select id="searchTeacherInfo" resultMap="teacherInfoResult">
			SELECT
	           A.TE_NO
		     , A.TE_ID
		     , A.TE_PWD
		     , A.TE_TYPE
		     , A.TE_ID_NO
		     , A.TE_NAME
		     , A.TE_PHONE
		     , A.TE_ACNT_NO
		     , A.TE_ACNT_HOLDER
		     , A.BANK
		     , A.TE_INTRO
		     , A.TE_QUIT_YN
		     , A.BLOCK_YN
		     , A.TE_PIC
		  FROM TEACHER_INFO A
		 WHERE A.TE_NO = #{teacherNo}
	</select>
	
	<update id="updateTeacherProfile" parameterType="TeacherInfoDTO">
	    UPDATE
	           TEACHER_INFO A
	       SET A.TE_INTRO = #{ teacherIntro, jdbcType=VARCHAR }
	         , A.TE_PIC = #{ teacherPicture, jdbcType=VARCHAR }
	     WHERE A.TE_NO = #{ teacherNo }
	</update>
	<select id="selectCheckDoubleId" parameterType="string" resultType="string">
        SELECT 
               A.TE_ID 
          FROM TEACHER_INFO A
         WHERE A.TE_ID = #{ checkId }
	</select>
	<insert id="registTeacher" parameterType="TeacherInfoDTO">
    	INSERT 
          INTO TEACHER_INFO
        VALUES 
             (
               SEQ_TE_NO.NEXTVAL
             , #{ teacherId }
             , #{ teacherPwd }
             , #{ teacherType }
             , #{ teacherIdNo }
             , #{ teacherName }
             , #{ teacherPhone }
             , #{ teacherAccountNo }
             , #{ teacherAccountName }
             , #{ teacherAccountBANK }
             , null
             , 'N'
             , 'N'
             , null
             , SYSDATE
             , 'T'
             )
	</insert>
	<select id="selectExistingInfo" parameterType="map" resultMap="teacherInfoResult">
	    SELECT
	           A.TE_NO
	         , A.TE_ID
	         , A.TE_PWD
	      FROM TEACHER_INFO A
	      WHERE A.TE_PHONE = #{ phoneNumber } 
	      <if test='type == "id"'>
	        AND A.TE_NAME = #{ name }
	      </if>
	      <if test='type == "pwd"'>
	        AND A.TE_ID = #{ id  }
	      </if>
	</select>
	<update id="modifyTeacherPwd" parameterType="TeacherInfoDTO">
        UPDATE TEACHER_INFO
           SET TE_PWD = #{ teacherPwd }
         WHERE TE_NO = #{ teacherNo }	
	</update>
</mapper>